.container{
  width:870px;
  /*width:100%;*/
}
header{
  height:80px;
  background-color:rgb(23, 4, 107);
  opacity:0.7;
  color:cyan;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:10;
}
header p{
  font-size:30px;
  font-family:impact;
  float:left;
  line-height:80px;
}

h1{font-size:150px;
color:chartreuse;


    margin-bottom:50px;}

.main{text-align:center;}



.about{text-align:center;
       font-size:30px;
    margin-top:50px;}

h2{font-size:80px;
    margin-top:80px;
    margin-bottom:80px;
color:coral;
text-align:center;}

.skillset {text-align:center;

}
.top{
  height:80px;
  
}
h1{margin-bottom:50px;}
.world{height:450px;
  
  background-image:url("20211020_223848_0000.png") ;
  background-size: cover;
  margin-bottom:50px;
  }
.main{
  

}
.shine{
    border: 2px solid transparent;
    position: relative;
    overflow: hidden;
  }
  /* 光の疑似要素 */
  .shine::before{
    content: "";
    animation: shine 3s cubic-bezier(0.25, 0, 0.25, 1) infinite;
    background-color: #fff;
    width: 140%;
    height: 100%;
    transform: skewX(-45deg);
    top: 0;
    left: -160%;
    opacity: 0.5;
    position: absolute;
  }
  /* 光の動き */
  @keyframes shine{
    0% {
      left: -160%;
      opacity: 0;
    }
    70% {
      left: -160%;
      opacity: 0.5;
    }
    71% {
      left: -160%;
      opacity: 1;
    }
    100% {
      left: -20%;
      opacity: 0;
    }
  }


.links{padding:100px 400px;
    text-align:center;}
    
/*.skills {
        animation: poyoyon3 3.5s infinite;
        opacity: 1;
      }
      @keyframes poyoyon3 {
        0%, 40% {
          transform: skew(0deg, 0deg);
        }
        5% {
          transform: skew(5deg, 5deg);
        }
        10% {
          transform: skew(-4deg, -4deg);
        }
        15% {
          transform: skew(3deg, 3deg);
        }
        20% {
          transform: skew(-2deg, -2deg);
        }
        25% {
          transform: skew(1deg, 1deg);
        }
        30% {
          transform: skew(-0.6deg, -0.6deg);
        }
        35% {
          transform: skew(0.3deg, 0.3deg);
        }
      }*/
      .btn {
        display: block;
        position: relative;
        width: 90%;/*ボタンの幅*/
        padding: 10px 0;
        margin: 30px auto;
        background: -webkit-linear-gradient(#ef6c6c,  #ed4545);/*ボタンの色*/
        box-shadow: 0 3px 0 0 rgba(198, 39, 39, 1);/*影の色(rgbaの値を変更)*/
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        transition: 0.2s;
    }
    .btn:hover {
        text-decoration: none;
        color: #fff;
        opacity: 0.7;/*不透明度*/
        box-shadow: none;
        -webkit-transform: translateY(3px);
    }
    .btn::before {
        position: absolute;
        content: '';
        display: inline-block;
        top: -180px;
        left: 0;
        width: 30px;
        height: 100%;
        background-color: #fff;
        animation: shiny-btn6 3s ease-in-out infinite;
    }
    @keyframes btn {
        0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
        80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
        81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
        100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
    }
    .s1:hover{
        opacity: 1;
        -webkit-animation: flash 1.5s;
        animation: flash 1.5s;
        }
        @-webkit-keyframes flash {
          0% {
          opacity: .4;
          }
          100% {
          opacity: 1;
          }
        }
        @keyframes flash {
          0% {
          opacity: .4;
          }
          100% {
          opacity: 1;
          }
        }
        .s2:hover{
            opacity: 1;
            -webkit-animation: flash 1.5s;
            animation: flash 1.5s;
            }
            @-webkit-keyframes flash {
              0% {
              opacity: .4;
              }
              100% {
              opacity: 1;
              }
            }
            @keyframes flash {
              0% {
              opacity: .4;
              }
              100% {
              opacity: 1;
              }
            }
            
            .s3:hover{
                opacity: 1;
                -webkit-animation: flash 1.5s;
                animation: flash 1.5s;
                }
                @-webkit-keyframes flash {
                  0% {
                  opacity: .4;
                  }
                  100% {
                  opacity: 1;
                  }
                }
                @keyframes flash {
                  0% {
                  opacity: .4;
                  }
                  100% {
                  opacity: 1;
                  }
                }
                .s4:hover{
                    opacity: 1;
                    -webkit-animation: flash 1.5s;
                    animation: flash 1.5s;
                    }
                    @-webkit-keyframes flash {
                      0% {
                      opacity: .4;
                      }
                      100% {
                      opacity: 1;
                      }
                    }
                    @keyframes flash {
                      0% {
                      opacity: .4;
                      }
                      100% {
                      opacity: 1;
                      }
                    }
                    .fa{
                      margin-right :10px;
                    }
          .header-right{
            float:right;
            font-size:30px;
            display:block;
            
            line-height:80px;
            
          }
          .header-right a{
            background-color:darkorchid;
            border-radius: 6px;
           
          }
          .about{
            
            background-image:url("images.png") ;
            background-size:cover;
            border-bottom:1px solid grey;
          }
          .about p{
            
            font-family:fantasy;
            line-height:300px;
          }
          .affiliate{
            border:1px solid greenyellow;
            width:100%;
            margin:0 auto;
          }
